<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-primary fw-bold">My Leaves</h2>
    <button class="btn btn-primary" (click)="showApply = !showApply">{{ showApply ? 'Close' : 'Apply Leave' }}</button>
  </div>

  <div *ngIf="showApply" class="card p-3 mb-3">
    <form [formGroup]="form" (ngSubmit)="apply()">
      <div class="row g-2">
        <div class="col-md-4">
          <label class="fw-semibold">From</label>
          <input class="form-control" type="date" formControlName="fromDate" [min]="today" />
        </div>

        <div class="col-md-4">
          <label class="fw-semibold">To</label>

          <input class="form-control" type="date" formControlName="toDate" [min]="form.value.fromDate || today"
            [disabled]="!form.value.fromDate" 
          />
        </div>

        <div class="col-md-12">
          <label class="fw-semibold" >Reason</label>
          <textarea class="form-control reason-box" rows="3" formControlName="reason"
            placeholder="Enter reason for leave..."></textarea>
        </div>

      </div>
      <button class="btn btn-primary mt-3" type="submit">Apply</button>
    </form>
  </div>

  <table class="table table-hover shadow-sm">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>From</th>
        <th>To</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of leaves; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ l.fromDate }}</td>
        <td>{{ l.toDate }}</td>
        <td>{{ l.reason }}</td>
        <td>
          <span class="badge" [class.bg-warning]="l.status==='PENDING'" [class.bg-success]="l.status==='APPROVED'"
            [class.bg-danger]="l.status==='REJECTED'">
            {{ l.status }}
          </span>
        </td>
        <td>
          <button class="btn btn-info btn-sm" (click)="view(l)">View</button>
        </td>
      </tr>
      <tr *ngIf="!leaves.length">
        <td colspan="6" class="text-center text-muted">No leaves found</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="leaveViewModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <p [innerHTML]="modalMessage"></p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" (click)="closeModal()">OK</button>
      </div>
      
    </div>
  </div>
</div>
